---js
const eleventyNavigation = {
	key: "Blog",
	order: 2
};
---
<h1>Mes derniers articles</h1>


<ul class="postlist" style="list-style-type: none; padding-left: 0;">
{%- for post in collections.posts | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	</li>
{%- endfor %}
</ul>


